.primeros {
    margin-top: 150px;
    display: flex;
    justify-content: center;

}

.lentes {
    width: 350px;
    margin: 0 90px;
}

.segundos {
    margin-top: 300px;
    display: flex;
    justify-content: center;
}

.lentes1 {

    width: 350px;
    margin: 0 90px;
}
body{
    padding: 0px;
    margin: 0px;
}
.largos {
    height: 250px;
    background-image: url(imagenes/foto1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px;
}
.largos1{
    margin-top: 300px;
    height: 250px;
    background-image: url(imagenes/foto2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px;
}